# import libraries

In [1]:
import numpy as np
import pandas as pd

import dataset

In [18]:
data=pd.read_csv(r"C:\Users\user\Downloads\5_Instagram data.csv")
data

,Impressions,From Home,From Hashtags,From Explore,From Other,Saves,Comments,Shares,Likes,Profile Visits,Follows,Caption,Hashtags
0,3920,2586,1028,619,56,98,9,5,162,35,2,Here are some of the most important data visua...,#finance�#money�#business�#investing�#investme...
1,5394,2727,1838,1174,78,194,7,14,224,48,10,Here are some of the best data science project...,#healthcare�#health�#covid�#data�#datascience�...
2,4021,2085,1188,0,533,41,11,1,131,62,12,Learn how to train a machine learning model an...,#data�#datascience�#dataanalysis�#dataanalytic...
3,4528,2700,621,932,73,172,10,7,213,23,8,Here�s how you can write a Python program to d...,#python�#pythonprogramming�#pythonprojects�#py...
4,2518,1704,255,279,37,96,5,4,123,8,0,Plotting annotations while visualizing your da...,#datavisualization�#datascience�#data�#dataana...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,13700,5185,3041,5352,77,573,2,38,373,73,80,Here are some of the best data science certifi...,#datascience�#datasciencejobs�#datasciencetrai...
115,5731,1923,1368,2266,65,135,4,1,148,20,18,Clustering is a machine learning technique use...,#machinelearning�#machinelearningalgorithms�#d...
116,4139,1133,1538,1367,33,36,0,1,92,34,10,Clustering music genres is a task of grouping ...,#machinelearning�#machinelearningalgorithms�#d...
117,32695,11815,3147,17414,170,1095,2,75,549,148,214,Here are some of the best data science certifi...,#datascience�#datasciencejobs�#datasciencetrai...
118,36919,13473,4176,16444,2547,653,5,26,443,611,228,175 Python Projects with Source Code solved an...,#python�#pythonprogramming�#pythonprojects�#py...

mean

In [19]:
print(data.mean())

Impressions       5703.991597
From Home         2475.789916
From Hashtags     1887.512605
From Explore      1078.100840
From Other         171.092437
Saves              153.310924
Comments             6.663866
Shares               9.361345
Likes              173.781513
Profile Visits      50.621849
Follows             20.756303
dtype: float64

median

In [20]:
print(data.median())

Impressions       4289.0
From Home         2207.0
From Hashtags     1278.0
From Explore       326.0
From Other          74.0
Saves              109.0
Comments             6.0
Shares               6.0
Likes              151.0
Profile Visits      23.0
Follows              8.0
dtype: float64

mode

In [21]:
print(data.describe())

        Impressions     From Home  From Hashtags  From Explore   From Other  \
count    119.000000    119.000000     119.000000    119.000000   119.000000
mean    5703.991597   2475.789916    1887.512605   1078.100840   171.092437
std     4843.780105   1489.386348    1884.361443   2613.026132   289.431031
min     1941.000000   1133.000000     116.000000      0.000000     9.000000
25%     3467.000000   1945.000000     726.000000    157.500000    38.000000
50%     4289.000000   2207.000000    1278.000000    326.000000    74.000000
75%     6138.000000   2602.500000    2363.500000    689.500000   196.000000
max    36919.000000  13473.000000   11817.000000  17414.000000  2547.000000

             Saves    Comments      Shares       Likes  Profile Visits  \
count   119.000000  119.000000  119.000000  119.000000      119.000000
mean    153.310924    6.663866    9.361345  173.781513       50.621849
std     156.317731    3.544576   10.089205   82.378947       87.088402
min      22.000000    0.000000    0.000000   72.000000        4.000000
25%      65.000000    4.000000    3.000000  121.500000       15.000000
50%     109.000000    6.000000    6.000000  151.000000       23.000000
75%     169.000000    8.000000   13.500000  204.000000       42.000000
max    1095.000000   19.000000   75.000000  549.000000      611.000000

          Follows
count  119.000000
mean    20.756303
std     40.921580
min      0.000000
25%      4.000000
50%      8.000000
75%     18.000000
max    260.000000

In [22]:
df = pd.DataFrame(data[["Saves","Comments"]])
df

     Saves  Comments
0       98         9
1      194         7
2       41        11
3      172        10
4       96         5
..     ...       ...
114    573         2
115    135         4
116     36         0
117   1095         2
118    653         5

[119 rows x 2 columns]

In [23]:
print(df.mode())

   Saves  Comments
0     40       6.0
1    135       NaN
2    144       NaN

In [24]:
print(df.mean())

Saves       153.310924
Comments      6.663866
dtype: float64

In [25]:
print(df.median())

Saves       109.0
Comments      6.0
dtype: float64

In [26]:
print(df.describe())

             Saves    Comments
count   119.000000  119.000000
mean    153.310924    6.663866
std     156.317731    3.544576
min      22.000000    0.000000
25%      65.000000    4.000000
50%     109.000000    6.000000
75%     169.000000    8.000000
max    1095.000000   19.000000

In [27]:
print(df.sum())

Saves       18244
Comments      793
dtype: int64

In [28]:
print(df.cumsum())

     Saves  Comments
0       98         9
1      292        16
2      333        27
3      505        37
4      601        42
..     ...       ...
114  16325       782
115  16460       786
116  16496       786
117  17591       788
118  18244       793

[119 rows x 2 columns]

In [29]:
print(df.min())

Saves       22
Comments     0
dtype: int64

In [30]:
print(df.max())

Saves       1095
Comments      19
dtype: int64

In [31]:
print(df.count())

Saves       119
Comments    119
dtype: int64

In [32]:
from numpy import cov

In [33]:
print(cov(df))

[[3.960500e+03 8.321500e+03 1.335000e+03 ... 1.602000e+03 4.863850e+04
  2.883600e+04]
 [8.321500e+03 1.748450e+04 2.805000e+03 ... 3.366000e+03 1.021955e+05
  6.058800e+04]
 [1.335000e+03 2.805000e+03 4.500000e+02 ... 5.400000e+02 1.639500e+04
  9.720000e+03]
 ...
 [1.602000e+03 3.366000e+03 5.400000e+02 ... 6.480000e+02 1.967400e+04
  1.166400e+04]
 [4.863850e+04 1.021955e+05 1.639500e+04 ... 1.967400e+04 5.973245e+05
  3.541320e+05]
 [2.883600e+04 6.058800e+04 9.720000e+03 ... 1.166400e+04 3.541320e+05
  2.099520e+05]]

In [36]:
from scipy.stats import pearsonr

In [34]:
df1 = df["Saves"]
df2 = df["Comments"]
df1
df2

0       9
1       7
2      11
3      10
4       5
       ..
114     2
115     4
116     0
117     2
118     5
Name: Comments, Length: 119, dtype: int64

In [37]:
print(pearsonr(df1,df2))

(-0.02691226370756101, 0.7714093067398262)

In [38]:
from scipy.stats import spearmanr

In [39]:
print(spearmanr(df1,df2))

SpearmanrResult(correlation=0.18289066665208123, pvalue=0.04649539344941905)